/*Style du header*/


/* Fin du style du header */

/* Style du body*/
/*Couleurs police*/
/*h1,h2,h3,h4,h5,h6,p {*/
/*    color: #2D3E4E;*/
/*}*/

/*Style page profil*/

.mainContainer.profilContainer{
    background: rgb(232,236,235);
    background: linear-gradient(180deg, rgba(232,236,235,1) 0%, rgba(224,158,80,1) 40%);
}

.profilInfo>*{
    color: #E8ECEB;
}

.profile-rating>.fa-star{
    color: yellow;
}

.profilInfoInt {
    color: #E8ECEB;
    align-items: center;
}

.profilInfoInt>div>h5 {
    display: flex;
    flex-direction: column;
    align-items: start;

}

.profilInfoInt i{
    text-align: center;
    align-self: center;
}



#home-tab i::before, #profile-tab i::before{
    color: #8CBDB9;
}

#myTabContent

    /* Bouton d'ajout de pet */
#myTabContent *{
    color: #E8ECEB;
}

#myTabContent .addPetPlus span{
    color: #8CBDB9;
    transition: 0.5s;
}

#myTabContent .addPetPlus a{
    width: 100px;
    height: 100px;
    border: none;
    padding: 10px 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 50px;
    transition: 0.5s;
    background-color: #2D3E4E;
}

#myTabContent .addPetPlus:hover a{
    color: #8CBDB9;
    transition: 0.5s;
    background-color: #8CBDB9;
}
#myTabContent .addPetPlus:hover a>span{
    color: #2D3E4E;
    transition: 0.5s;
}


.top-text {
    color: #E8ECEB;
}
/* Première section */
.main-banner{
    height: 1100px;
}

/* conteneur du corps du texte sur toutes les pages */
.mainContainer{
    padding: 150px 0px;
}


/*Style du formulaire de recherche*/

.input-header{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;

    margin-left: 20px;

    color: #2D3E4E;
}

form#search-form select, form#search-form input, form#search-form input::placeholder{
    font-size: 18px;
}
.main-button#matchMakingBtn{
    background-color: #2D3E4E;
    font-size: 18px;
    color: #8CBDB9;
    transition: 1s;
}
.main-button#matchMakingBtn:hover{
    background-color: #8CBDB9;
    color: #2D3E4E;
    transition: 1s;
}
.main-button#matchMakingBtn i{
    background-color: #2D3E4E;
    color: #8CBDB9;
    transition: 1s;

}
.main-button#matchMakingBtn:hover i{
    background-color: #8CBDB9;
    color: #2D3E4E;
    transition: 1s;
}

form#search-form .row{
    height: 90px;
}

.search-button-fieldset{
    height: 90px;
}

/*style formulaires*/
.form-container{
    max-width: 50%;
}

/*Style formulaire inscription*/
.mainContainer.registerMain{
    background-image: url("../images/handshake-dog.jpg") ;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 30%;
    background-position-x: center;
}


.form-container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255,255,255, 0.5) ;
    padding: 30px;

}
/* A optimiser (très bien pour le register form, pas vraiment pour les autres*/
.form-container>form>div>div>div>label, .form-container>form>div>div>div>input{
    margin-bottom: 10px;
}

.form-container>form>div>div>div>input, .form-container>form>div>div>div>input:focus{
    border-width: 0px 0px 1px 0px;
    background-color: transparent;
    color: #2D3E4E ;
    margin-bottom: 30px;
}

.form-container>form>div>div>div{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

/*Style du formulaire de connexion*/
.mainContainer.loginMain{
    background-image: url("../images/cat-stroke.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 30%;
    background-position-x: center;
}

.loginForm>input, .loginForm>input:focus{
    border-width: 0px 0px 1px 0px;
    background-color: transparent;
    color: #2D3E4E ;
    margin-bottom: 30px;
}
/*Style formulaire Modif Profil*/
.mainContainer.modifProfilMain{
    background-image: url("../images/owner-petting-dog.jpg") ;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 30%;
    background-position-x: center;
}
/*Cache conditionnel du field tarif*/
.hidden-row{
    display:none;
}

/*Style formulaire de contact*/

.mainContainer.contactMain {
    background-image: url("../images/owner-laptop.jpg") ;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 30%;
    background-position-x: center;
}

.contactMessage textarea{
    background: transparent;
    border-width: 0px 0px 1px 0px;
}

.contactInfo {
    font-size: 18px;
}

/*Agree Terms positioning*/
.agreeTerms{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*Style formulaire d'ajout d'animal*/
.mainContainer.addPetMain {
    background-image: url("../images/cat-in-arms.jpg") ;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 30%;
    background-position-x: center;
    padding-top: 150px;
    padding-bottom: 0px;
}

.addPetMain>.form-container{
    margin-bottom: 150px;
    padding: 30px 20px;
}

.addPetMain>.form-container > form > div > div > div {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 30px 0px;
}

.addPetMain>.form-container > form > div > div > div>label {
    margin-right: 10px;
}
.addPetMain>.form-container > form > div > div >.required {
    margin-right: 20px;
}

.addPetMain>.form-container input, .addPetMain>.form-container input:focus {
    border-width: 0px 0px 1px 0px;
    background-color: transparent;
    color: #2D3E4E ;
}

#pet-form-description{
    width: 100%;
}
.addPetMain>.form-container select, .addPetMain>.form-container select:focus {
    border-width: 0px 0px 1px 0px;
    color: #2D3E4E ;
}
/*Style Backoffice*/
.backContainer {
    background-color: rgba(255,255,255, 0.5) ;
    padding: 30px;
    margin-top: 100px;
}

/*Ajout Annonce*/

.mainContainer.addAnnonceMain{
    background-image: url("../images/owner-laptop.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 30%;
    background-position-x: center;
}

.mainContainer textarea{
    background: transparent;
    border-width: 0px 0px 1px 0px;
}

#annonce_form_date_start>select option, #annonce_form_date_end option {
    background-color: transparent;
}


/*No more arrows form input type number*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
/*Fin du style du body*/

body {
    margin: 0;
    font-family: "Lato", sans-serif;
}

/* Background du site */
.main-banner{
    background-image: url(../images/cat-sleeping.jpg);
    background-attachment: fixed;
}
/*style Panel admin*/
.panel-topbar{
    background-color: #E8ECEB;
}

.panel-topbar .top-bar-dropdown{
    margin-right: 120px !important;
}

.panel-topbar *{
    color: #2D3E4E;
}

.panel-body{
    background: rgb(232,236,235);
    background: linear-gradient(180deg, rgba(232,236,235,1) 0%, rgba(45,62,78,1) 59%);
    background-attachment: fixed;
}

.panel-body a {
    font-family: Montserrat;
}

.panel-body i{
    font-family: FontAwesome;
}

.sidebar {
    margin-top: 100px;
    padding: 30px 10px;
    width: 230px;
    background-color: #8CBDB9;
    /*height: 100%;*/
    height: 70%;
    overflow: auto;
    position: absolute;
    border-radius: 5px;
}

.sidebar .nav-item{
    margin-top: 60px;
}

.sidebar a {
    display: block;
    color: #8CBDB9;
    background-color: #2D3E4E;
    border: 1px #8CBDB9 solid;
    border-radius: 5px;
    padding: 16px;
    text-decoration: none;
}

.sidebar a:hover:not(.active) {
    color: #2D3E4E;
    background-color: #8CBDB9;
    border: 1px #2D3E4E solid;
}

.sidebar .dropdown-menu {
    background-color: #2D3E4E;
    padding: 5px;
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }

    input[type=range] {
        -webkit-appearance: none;
        margin: 20px 0;
        width: 100%;
    }

    input[type=range]:focus {
        outline: none;
    }

    input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 4px;
        cursor: pointer;
        animate: 0.2s;
        background: #000000;
        border-radius: 25px;
    }

    input[type=range]::-webkit-slider-thumb {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background: #fff;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 1);
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -8px;
    }

    input[type=range]:focus::-webkit-slider-runnable-track {
        background: #000000;
    }

    .range-wrap {
        width: 210px;
        position: relative;
    }

    .range-value {
        position: absolute;
        top: -50%;
    }

    .range-value span {
        width: 30px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        background: #000000;
        color: #fff;
        font-size: 12px;
        display: block;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        border-radius: 6px;
    }

    .range-value span:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-top: 10px solid #000000;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        margin-top: -1px;
    }




    .first {
        margin: 5px;
        height: 30px;
        width: 50px;
        border-radius: 50%;
        background-color: black;


    }

    .first > a {
        text-decoration: none;
        color: white;
        font-size: large;
        font-weight: bolder;
    }

    .previous {
        margin: 5px;
        height: 30px;
        width: 50px;
        border-radius: 50%;
        background-color: black;


    }

    .previous > a {
        text-decoration: none;
        color: white;
        font-size: large;
        font-weight: bolder;
    }

    .page {
        margin: 5px;
        height: 30px;
        width: 50px;
        border-radius: 50%;
        background-color: black;


    }

    .current {
        margin: 5px;
        height: 30px;
        width: 50px;
        border-radius: 50%;
        background-color: black;


    }

    .page > a {
        text-decoration: none;
        color: white;
        font-size: large;
        font-weight: bolder;
    }

    .current > a {
        font-size: large;
        text-decoration: none;
        color: white;
        font-weight: bolder;
    }

    .next {

        margin: 5px;
        height: 30px;
        width: 50px;
        border-radius: 50%;
        background-color: black;


    }

    .last {

        margin: 5px;
        height: 30px;
        width: 50px;
        border-radius: 50%;
        background-color: black;


    }

    .next > a {

        text-decoration: none;
        color: white;
        font-size: large;
        font-weight: bolder;
    }

    .last > a {
        text-decoration: none;
        color: white;
        font-size: large;
        font-weight: bolder;
    }






}

.mention{

    color: #8CBDB9 !important;
    margin-left: 30px;
    margin-right: 50px;

}

.mentionP{
    margin-left: 35px;
    color: #2D3E4E !important;
    padding: 0px 20px 40px 0px;

}

.profile-img{

    margin-top: 50px;
}

.profile-head{
    margin-top: 50px;

}

.profile-edit-btn{

    margin-top: 50px;
}
.pet-buttons{
    /*position: relative;*/
    /*top: -4%;*/
    /*left: 10%;*/
}

.pet-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pet-buttons a{
    border-radius: 50px;
}
.nav-item{

    margin-top: 90px;
}

/*Style des icones des réseaux sociaux*/
.social-icons{
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 80%;
}

.social-icons>*{
    width: 25%;
}
/*Responsive*/
@media  (max-width: 767px) {

    .main-banner{
        height: 100em;
    }

    .form-container{
        max-width: 90%;
    }

    form#search-form>.search-row{
        height: 40em;
    }

    form#search-form>.search-row>*{
        margin: 10px 0px;
    }

    .addPetMain>.form-container>form {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    .addPetMain > .form-container > form > div > div > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 30px 0px;
    }

    .social-icons{
        justify-content: center !important;
        margin: 0 auto;
    }
}

.profile-img{

    margin-top: 50px;
}

.profile-head{
    margin-top: 50px;

}

.profile-edit-btn{

    margin-top: 50px;
}

.nav-item{

    margin-top: 90px;
}

.pseudo{
    margin-top: 50px;

}

.profilInfo{

    margin-top: 30px;
    margin-bottom: 15px;
    padding: 5px 10px;

}

.profilInfoInt{

    margin-top: 10px;
    margin-bottom: 15px;
    padding: 5px 5px;

}





.description{

    padding: 20px 30px;
    background-color: #8CBDB9;
    border-radius: 10px;
    color: #2D3E4E;
    margin-right: 10px;


}

.backgroundProfile{
    background-color: #2D3E4E;
    border-radius: 50px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 10%;
    background-position-x: center;
    margin-top: 70px;
    padding: 40px 150px;



}

.buttonProfile{

    background-color: #2D3E4E;
    border-radius: 20px;
}

.addPet{
    max-width: 150px;
    margin-top: 80px;

    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;

}



.addPetPlus {
    /*max-width: 150px;*/
    margin-top: 85px;
    font-size: 55px;
}

.social-icons{
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 80%;
}

.social-icons>*{
    width: 25%;
}