/*Style du header*/


/* Fin du style du header */

/* Style du body*/
/* Première section */
.main-banner{
    height: 1100px;
}

/* conteneur du corps du texte sur toutes les pages */
.mainContainer{
    padding: 150px 0px;
}


/*Style du formulaire de recherche*/

.input-header{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;

    margin-left: 20px;

    color: #2D3E4E;
}

form#search-form select, form#search-form input, form#search-form input::placeholder{
    font-size: 18px;
}
.main-button#matchMakingBtn{
    background-color: #2D3E4E;
    font-size: 18px;
    color: #8CBDB9;
    transition: 1s;
}
.main-button#matchMakingBtn:hover{
    background-color: #8CBDB9;
    color: #2D3E4E;
    transition: 1s;
}
.main-button#matchMakingBtn i{
    background-color: #2D3E4E;
    color: #8CBDB9;
    transition: 1s;

}
.main-button#matchMakingBtn i:hover{
    background-color: #8CBDB9;
    color: #2D3E4E;
    transition: 1s;
}

form#search-form .row{
    height: 90px;
}

.search-button-fieldset{
    height: 90px;
}

/*Style formulaire inscription*/
.mainContainer.registerMain{
    background-image: url("../images/handshake-dog.jpg") ;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 30%;
    background-position-x: center;
}


.form-container>form{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255,255,255, 0.5) ;
    padding: 30px;

}
/* A optimiser (très bien pour le register form, pas vraiment pour les autres*/
.form-container>form>div>div>div>label, .form-container>form>div>div>div>input{
    margin-bottom: 10px;
}

.form-container>form>div>div>div>input, .form-container>form>div>div>div>input:focus{
    border-width: 0px 0px 1px 0px;
    background-color: transparent;
    color: #2D3E4E ;
    margin-bottom: 30px;
}

.form-container>form>div>div>div{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

/*Style du formulaire de connexion*/
.mainContainer.loginMain{
    background-image: url("../images/cat-stroke.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 30%;
    background-position-x: center;
}

.loginForm>input, .loginForm>input:focus{
    border-width: 0px 0px 1px 0px;
    background-color: transparent;
    color: #2D3E4E ;
    margin-bottom: 30px;
}

/*Agree Terms positioning*/
.agreeTerms{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*No more arrows form input type number*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
/*Fin du style du body*/

body {
    margin: 0;
    font-family: "Lato", sans-serif;
}

/* Background du site */
.main-banner{
    background-image: url(../images/cat-sleeping.jpg);
    background-attachment: fixed;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: blue;
    height: 100%;
    overflow: auto;
    position: absolute;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebar a:hover:not(.active) {
    color: dodgerblue;
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }

    input[type=range] {
        -webkit-appearance: none;
        margin: 20px 0;
        width: 100%;
    }

    input[type=range]:focus {
        outline: none;
    }

    input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 4px;
        cursor: pointer;
        animate: 0.2s;
        background: #000000;
        border-radius: 25px;
    }

    input[type=range]::-webkit-slider-thumb {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background: #fff;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 1);
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -8px;
    }

    input[type=range]:focus::-webkit-slider-runnable-track {
        background: #000000;
    }

    .range-wrap {
        width: 210px;
        position: relative;
    }

    .range-value {
        position: absolute;
        top: -50%;
    }

    .range-value span {
        width: 30px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        background: #000000;
        color: #fff;
        font-size: 12px;
        display: block;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        border-radius: 6px;
    }

    .range-value span:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-top: 10px solid #000000;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        margin-top: -1px;
    }




    .first {
        margin: 5px;
        height: 30px;
        width: 50px;
        border-radius: 50%;
        background-color: black;


    }

    .first > a {
        text-decoration: none;
        color: white;
        font-size: large;
        font-weight: bolder;
    }

    .previous {
        margin: 5px;
        height: 30px;
        width: 50px;
        border-radius: 50%;
        background-color: black;


    }

    .previous > a {
        text-decoration: none;
        color: white;
        font-size: large;
        font-weight: bolder;
    }

    .page {
        margin: 5px;
        height: 30px;
        width: 50px;
        border-radius: 50%;
        background-color: black;


    }

    .current {
        margin: 5px;
        height: 30px;
        width: 50px;
        border-radius: 50%;
        background-color: black;


    }

    .page > a {
        text-decoration: none;
        color: white;
        font-size: large;
        font-weight: bolder;
    }

    .current > a {
        font-size: large;
        text-decoration: none;
        color: white;
        font-weight: bolder;
    }

    .next {

        margin: 5px;
        height: 30px;
        width: 50px;
        border-radius: 50%;
        background-color: black;


    }

    .last {

        margin: 5px;
        height: 30px;
        width: 50px;
        border-radius: 50%;
        background-color: black;


    }

    .next > a {

        text-decoration: none;
        color: white;
        font-size: large;
        font-weight: bolder;
    }

    .last > a {
        text-decoration: none;
        color: white;
        font-size: large;
        font-weight: bolder;
    }






}

.mention{

    color: #8CBDB9 !important;
    margin-left: 30px;
    margin-right: 50px;

}

.mentionP{
    margin-left: 35px;
    color: #2D3E4E !important;
    padding: 0px 20px 40px 0px;

}

.profile-img{

    margin-top: 50px;
}

.profile-head{
    margin-top: 50px;

}

.profile-edit-btn{

    margin-top: 50px;
}

.nav-item{

    margin-top: 90px;
}

