<p>Bonjour, quelqu'un cherche à être mis en relation avec vous pour l'une de vos annonces</p>
<p>Voici de quoi le recontacter</p>
<p>{{ nom }}</p>
<p>{{ prenom }}</p>
<p>{{ email }}</p>
<p>Merci de votre confiance et bon courage !</p>